

hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #555;
    margin: 20px 0;
}

.code {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    background-color: #222;
    width: 100%;
    border: 1px solid #555;
    margin-bottom: 20px;
    white-space: normal;
}

@media screen and (max-width: 779px) {

    .content {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }

}

@media screen and (min-width: 780px) {
    .contentvideo {
        width: 780px;
        margin: 0 auto;
        box-sizing: border-box;
    }

}

/* ====== media ====== */

.media {
    box-sizing: border-box;
    margin: 10px;
    font-size: 16px;
}

.media, .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

@media screen and (max-width: 479px) {
    .media .img, .media .imgExt {
        margin: 0px auto;
    }

    .media .img img, .media .imgExt img {
        display: block;
        max-width: 100%;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 480px) {
    .media .img {
        float: left;
        margin-right: 10px;
    }

    .media .imgExt {
        float: right;
        margin-left: 10px;
    }

    .media .img img, .media .imgExt img {
        display: block;
        max-width: 350px;
    }
}