<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8"> <link rel="stylesheet" type="text/css" href="css/mainsub.css">
<meta charset="utf-8"> <link rel="stylesheet" type="text/css" href="css/theme.css">
<meta charset="utf-8"> <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<title>online connext company</title>

<style type="text/css">

</style>

<script src="/js/jquery.bxslider.min.js"></script>
</head>

<body>

    		<header class="destop">
              <div class="top-header">
           	  <div class=" container">
                	<div class="logo">.
                    	<div class="logoflote"><img src="images/logo.png" width="171" height="180"  alt=""/></div>
                </div>
                    <div class="maincontainerhead">
                    	<div class="logo2"><img src="images/logo2.png" width="181" height="52"  alt=""/></div>
                        <div class=" usernevmain">
                    	<ul>
                        	<li><a href="#">Reviews</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">How To</a></li>
                            <li><a href="#">Game</a></li>
                            <li><a href="#">Download</a></li>
                        </ul>
                  </div>
                  		<div class="language">
                  	<div class="languagethai">
                    	<ul>
                        	<li class="languageicon"><img src="images/languageicon.png" width="18" height="18"  alt=""/></li>							<li class="languagecontent">ภาษาไทย</li>

                        </ul>
                    </div>
                  	<div class="languagethai">
                  	  <ul>
                  	    <li class="languageicon"><img src="images/languageiconselect.png" width="18" height="18"  alt=""/></li>
                  	    <li class="languagecontent">ภาษาอังกฤษ</li>
               	      </ul>
               	    </div> 
                </div>
                    
                    </div>
                <div class="maincontainerhead" style="margin-top:10px">
                    	<div class=" userloginmain">
                        	<div class="userloginsub">
                            	<div class="userloginmenu">
                               	  <ul>
                                    	<li><a href="#"><span class="userloginmenuicon"><img src="images/u1.png" width="20" height="18"  alt=""/></span><span class="userloginmenuicon" style="margin:2px 4px 0 4px">Login</span></a></li>
                                        <li><a href="#"><span class="userloginmenuicon"><img src="images/u2.png" width="20" height="18"  alt=""/></span><span class="userloginmenuicon" style="margin:2px 4px 0 4px">Ragister</span></a></li>
                                    	<li><a href="#"><span class="userloginmenuicon"><img src="images/u3.png" width="20" height="18"  alt=""/></span><span class="userloginmenuicon" style="margin:2px 4px 0 4px">Wish List</span></a></li>
<li><a href="#"><span class="userloginmenuicon"><img src="images/u4.png" width="34" height="18"  alt=""/></span><span class="userloginmenuicon" style="margin:2px 4px 0 4px">Connect us</span></a></li>
                               	  </ul>
                                </div>
                          </div>
                            <div class="userloginsubright">
                           	  <span class="searchbg">
                                	<div class="searchbox"><input type="search" class="searchboxstyle"></div>
                                	<div class="searchboxbut"><img src="images/searchbut.jpg" width="20" height="21"  alt=""/></div>
                                    
                                
                           	  </span>
                            	<span class=" search">Search TeleCorza</span>
                                
                            </div>
                        </div>
                    	</div>
                    </div>
              </div>
            </header>
            <header class="mobile">
            	<div class="container-fluid">
                	<div class=" mlogo">
                    	<h1 style="margin-top:10px">
                        	<a class="hide-text">online connext company</a>
                        </h1>
                    </div>
 					 <div class="nav-header">
                     
                     
                     </div>
              
                
                
                

                
                </div>
            
            </header>
            <div id="wrapper">
           		 <div class="ad-leader-top">
            	<div class="container">
           	    	<div class="articleHead">
                    	<h1>Find out if it's time to replace your Windows laptop battery</h1>
                       
                    </div> 
                    <div class="testarticle">If you've tried all the tricks -- dimming your screen, closing apps and turning off unused antennae -- but your laptop's battery still can't hold a charge, it might be time to replace the battery.</div>
                </div>
            </div>
            
            <div class="content">
            	<div class="container">
            	
                <div class="col-8">
               	  <div class=" col-12">
                	  <div class="maintopstorybody2">
                    		<div class="maintopstorybodypic">
                            	<a href="#"><img src="images/sub/review.jpg"  alt=""/>
                   	    </a></div>
                      </div>
                      <div class="maintopstorybodydetail">
                      
                      	<p>If you've tried all the tricks -- dimming your screen, closing apps and turning off unused antennae -- but your laptop's battery still can't hold a charge, it might be time to replace the battery.</p>

<p>A battery's capacity (the amount of energy it can hold) depletes over time. Eventually, your once high-endurance laptop might only last a couple hours. Same goes for phones and tablets.</p>

<p>On Windows, the best way to find out if it's time to replace your battery is to generate a battery report.</p>
                      </div>
                    <div class="maintopstorybodypic" style="margin-top:20px"> <a href="#"><img src="images/sub/ylspx100e26joverview30.jpg"  alt=""/> </a>
                    	<script type="text/javascript">
                         $(document).ready(function(){
    
$('.bxslider').bxSlider({
  minSlides: 2,
  maxSlides: 2,
  slideWidth: 360,
  slideMargin: 10
});
  });
                        </script>
                      	<div class="maintopstorybodypic-sub bx-viewport">
                        <div class=" bx-wrapper">
                        	<div class="bx-viewport">
                            	<ul class="bxslider">
                            	<li style="margin-left:0"><img src="images/sub/reviewthumnail.jpg"  alt=""/></li>
                                <li><img src="images/sub/reviewthumnail.jpg"  alt=""/></li>
                                <li><img src="images/sub/reviewthumnail.jpg"  alt=""/></li>
                                <li><img src="images/sub/reviewthumnail.jpg"  alt=""/></li>
                            </ul>
                            	<div class="bx-controls bx-has-pager bx-has-controls-direction">
                                	<div class="bx-pager bx-default-pager">
                                    	<div class="bx-pager-item"></div>
                                    </div>
                                </div>
                                <div class="bx-controls-direction">
                                	<div class="bx-pager-item">
                                    	<a href class=" bx-prev">Prev</a>
                                    </div>
                                </div>
                            </div>
                        	
                        </div>
                        	
                        
                      </div>
                    </div>
                    <div class="maintopstorybodydetail">
                      <p><span class="red-dark">Tag :</span> <a href="#">Laptop</a>, <a href="#">Window</a></p>
                      </div>
                      <div class="maintopstorybodycom">
                      		<span class="maintopstorybodycomleft"><span class="red-dark">15</span> Comment</span>
                            <span class="maintopstorybodycomright red-dark">Login</span>
                      </div>
                      <div class="maintopstorybodydetail">
                       	<div class="editor">
                       	  <div class="editorbox">
                          <textarea name="textarea" id="textarea" class="editorboxwidth"></textarea>

                           </div>
                          <div class="editorbut">
                           	<div><button type="button" class=" btn btn-primary active" >Post comment as</button></div>
                           </div>
                       	  
                        </div>
                      </div>
                      <div class="contentarticle">
                   		<div class="contentarticletop">
                            	<span class="contentarticletop1">NottyTellin</span><span class="contentarticletop2">12 hours ago</span>
                            </div>
                        <div class="contentarticlebody">
                            	No matter where or what lower left screen I right-click on, I cannot bring up a command prompt.  I'm using Windows 7 and nothing, but Administrative Command Prompt from voice command and start menu with notta after the command you provided.  Done tryin'.  Thanks anyway, Sharon!
                            </div>
                            <div class="contentarticlebot"></div>
                      </div>
                      <div class="contentarticle">
                        <div class="contentarticletop0"> <span class="contentarticletop1">NottyTellin</span><span class="contentarticletop2">12 hours ago</span> </div>
                        <div class="contentarticlebody"> No matter where or what lower left screen I right-click on, I cannot bring up a command prompt.  I'm using Windows 7 and nothing, but Administrative Command Prompt from voice command and start menu with notta after the command you provided.  Done tryin'.  Thanks anyway, Sharon! </div>
                        <div class="contentarticlebot"></div>
                      </div>
                      <div class="contentarticle">
                        <div class="contentarticletop0"> <span class="contentarticletop1">NottyTellin</span><span class="contentarticletop2">12 hours ago</span></div>
                        <div class="contentarticlebody"> No matter where or what lower left screen I right-click on, I cannot bring up a command prompt.  I'm using Windows 7 and nothing, but Administrative Command Prompt from voice command and start menu with notta after the command you provided.  Done tryin'.  Thanks anyway, Sharon! </div>
                        <div class="contentarticlebot"></div>
                      </div>
                      <div class="contentarticle">
                        <div class="contentarticletop0"> <span class="contentarticletop1">NottyTellin</span><span class="contentarticletop2">12 hours ago</span></div>
                        <div class="contentarticlebody"> No matter where or what lower left screen I right-click on, I cannot bring up a command prompt.  I'm using Windows 7 and nothing, but Administrative Command Prompt from voice command and start menu with notta after the command you provided.  Done tryin'.  Thanks anyway, Sharon! </div>
                        <div class="contentarticlebot"></div>
                      </div>
                      <div class="contentarticle">
                        <div class="contentarticletop0"> <span class="contentarticletop1">NottyTellin</span><span class="contentarticletop2">12 hours ago</span></div>
                        <div class="contentarticlebody"> No matter where or what lower left screen I right-click on, I cannot bring up a command prompt.  I'm using Windows 7 and nothing, but Administrative Command Prompt from voice command and start menu with notta after the command you provided.  Done tryin'.  Thanks anyway, Sharon! </div>
                        <div class="contentarticlebot"></div>
                      </div>
                	</div>
                </div>
                <div class=" col-4">
            	  <div id="article-info">
                  <div class="dekTime2col" style="margin-bottom:30px">
                  		<h5>WHERE TO BUY </h5>
                   </div>
                  	
                    <time class="month">
                    	<h4>Halo Smart Labs Halo Smoke Alarm</h4>
                        <span class="time">Part Number:  LSPX-100E26J</span>
                    </time>
                    
                    <div class="price">
                    	<div class="lowprice">Low Price</div>
                    	<h4><span class="red-dark">$223.73</span></h4>
                        <div class="lowprice">See <a href="#" class="red-dark">manufacturer website</a> for availabilitye</div>
                    </div>
                    </ul>
                  </div>
            	  <div id="article-info2">
            	    <div class="dekTime2col" style="margin:30px 0">
            	      <h5>ABOUT THE AUTHOR </h5>
          	      </div>
            	    <div class=" postby">
                        <div class="col-4">
                        	<figure class="featured-thumbnail" style="padding-top:0"> <img src="images/sub/Sharon_Vaknin.jpg"  alt=""/> </figure>
                        </div>
                        <div class="col-8" style="margin-top:15px"><h3 class="red-dark">Ty Pendlebury</h3></div>
                    </div>
            	    
            	    <div class="col-12 by"> <span>Ty Pendlebury reviews televisions in CNET's New York office. He originally hails from CNET Australia. Ty's interests include gaming, indie music, hi-fi, streaming media, movies, literature, and cycling</span></div>
            	    </ul>
          	    </div>
                      
                      
                      
                      
                </div>
           		 </div>
            </div>
            
            </div>
</div>
     
    <div id="footer" class="container">
    	<div class="container">
       		<div id="footerCopyright">
             	<span class=" copyright">© CBS Interactive Inc.  /  All Rights Reserved. </span>
                <span id="legal">
                	<a href="#">Privacy Policy</a>&nbsp;&nbsp;/
                    <a href="#">Ad Choice </a>&nbsp;&nbsp;/
                    <a href="#">Terms of Use </a>&nbsp;&nbsp;/
                    <a href="#">Mobile User Agreement</a>&nbsp;&nbsp;/
                </span>
             </div> 
    	
            <ul class="col-2 first">
                  <li><a href="#"></a></li>
            </ul>
            
            <ul class="col-21">
              <li class="select">REVIEWS</li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
            </ul>
          <ul class="col-21">
              <li class="select">REVIEWS</li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
            </ul>
          <ul class="col-21">
              <li class="select">REVIEWS</li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
            </ul>
          <ul class="col-21">
              <li class="select">REVIEWS</li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
            </ul>
            <ul class="col-21">
              <li class="select">REVIEWS</li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
              <li><a href="#">All Reviews</a></li>
            </ul>
    	</div>
    	
        
    </div>
    

<script src="js/jquery-1.12.0.min.js"></script>

<script src="js/bootstrap.min.js"></script>

</body>
</html>
